body {
  font-family: sans-serif;
}

header {
  background-color: #335177;
  padding: 10px 15px;
  color: #fff;
  h1 {
    font-size:160%;
    font-weight:lighter;
    margin:0;
  }
}

// Layout
section {
  padding:15px;
}

// Button
.button {
  background-color: #fff;
  border:1px solid #000;
  padding: 10px 15px;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  &[disabled] {
    background-color: #999;
    color: #ccc;
    border-color: #999;
  }
}